
.messageContainer{
    background-color: #F5F5F5;
    height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}
.messageForm{
    height: 8%;
}
@media screen and (max-width: 768px) {
    .messageContainer{
        height: 84%;
    }
    .messageForm{
        height: 5%;
    }
   
}